// DASHBOARD

// Color variables
$blue-main: #007bff;
$blue-dark: #0056b3;
$blue-light: #cce5ff;
$dark-grey: #343a40;
$light-grey: #f8f9fa;
$yellow-main: #ffc107;

.dashboard-header-container {
  background-color: white;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  height: 50px;
  border-bottom: 1px solid #e2e2e2;
}

.dashboard-header {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .menu {
    display: flex;
    align-items: space-between;
    gap: 1rem;
  }
  h1 {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
  }
}

button {
  background-color: $yellow-main;
  color: $dark-grey;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

a {
  color: $blue-main;
}

.listing-cards {
  padding: 2rem 0rem;
  // make three row grid to display the cards
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
